a{
	color: #0071b3;
}

p{
	color: #3b3b3b;
}

header.header{
	background-color: #055a8e;
}

$primary: #055a8e;

section.hero{
	background-color: $primary;
}

nav.breadcrumb{
	background-color: #eee;
}

footer.footer{
	background-color: #292929;
}