.product--image{
	.slick-wrapper{
		background-color: white;
		border-radius: .5rem;
		padding: 1rem 0;
		.slick--optionset--commerce-image .slick-current.slick-active{
			
			img{
				border-radius: .5rem;
			}
		}
		.slick--optionset--commerce-thumbnail{
			padding: 1rem 0;
		}
	}
}
.product--detail{
	.field, .field--type-entity-reference, form.form-type-select{
		.field__label, legend, label{
			font-size: 1rem;
			font-weight: 300;
			padding-bottom: 1rem;
			color: #666;
		}
		.field__item{
			font-size: 1rem;
			font-weight: 400;
		}
	}

	.field--type-commerce-price{
		.field__item{
			font-size: 2rem;
		}
	}

	.field--name-body{
		padding: 1rem 0;
		font-size: 1rem;
		color: #333;
		ul{
			li{
				padding: .25rem 0;
				list-style: square;
			}
		}
	}
}