/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:400,700|Roboto:300,400,700');


@mixin mq($min) {
    @media only screen and (min-width: $min) {
        @content;
    }
}

$s: 420px;
$m: 768px;
$l: 1024px;
$xl: 1280px;
$xxl: 1440px;
$base-font-size: 16px;

// Base HTML

a{
	color: #212121;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    &:hover{
		-webkit-transition: width 2s; /* Safari */
		transition: width 2s;
    }
}

p{
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5f6368;
    line-height: 1.5;
    padding-bottom: 1rem;
}

i{
	font-style: italic;
}

strong, b{
	font-weight: 700;
}

table{
	margin: 1rem 0;
	
	width: 100%;
	caption{
		margin: 1rem 0;
	}
	thead{
		border-top: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
		tr{
			th{
				padding: 1rem;
				// background-color: #ccc;
				// border: 1px solid #333;
				a{
					font-weight: 700;
					font-size: 1.25rem;
				}
			}
		}

	}
	tbody{
		tr{
			td{
				padding: 1rem;
				border-top: 2px solid #ddd;
				// border: 1px solid #ccc;
				font-size: 1rem;
				
				a{
					padding: .5rem 0;
				}
			}
		}
	}
}

blockquote{
	font-size: 2rem;
}

code{

}

mark{
	padding: .5rem;
	margin: 0;
	display: inline-block;
	border-radius: .5rem;
	background-color: #ffde03;
}

h1{
	font-size: 2rem;
	@media all and (min-width: 1025px){
		font-size: 3rem;
	}
}

h2{
	font-size: 2.5rem;
}

h3{
	font-size: 2rem;
}

h4{
	font-size: 1.75rem;
}

h5{
	font-size: 1.5rem;
}

h6{
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6{
	margin: 2rem 0;
	font-weight: 700;
}

em{
	font-style: italic;
}

small{
	font-size: small;
}

/**
* Layout
**/

.layout-container{
	-webkit-font-smoothing: antialiased;
}

.container{
	width: 100%;
	margin: auto; 
	@include mq($s){
		width: 380px;
	}
	@include mq($m){
		width: 720px;
	}
	@include mq($l){
		width: 1100px;
	}
	@include mq($xl){
		width: 1220px;
	}
	&.layout-content{
		background-color: #fafafa;
		padding: 1rem;
		border-radius: .25rem;
	}
}

/**
* Drupal base
**/

nav.breadcrumb{
    padding: 1rem;
    font-size: 13px;
	ol{
		a{

		}
	}
}

body{
	// font-size: $base-font-size;

	background-color: #eee;
	&.font-size-14{
		font-size: 14px;
	}
	&.font-size-16{
		font-size: 16px;
	}
	&.font-size-18{
		font-size: 18px;
	}
	&.font-family-roboto{
		font-family: 'Roboto', sans-serif;
	}
	&.font-family-nunito{
		font-family: 'Nunito', sans-serif;
	}
	&.font-family-montserrat{
		font-family: 'Montserrat', sans-serif;
	}
}

header.header{
	display: flex;
	align-items: center;
	
	height: 75px;
	font-size: 14px;
	.container{
		display: flex;
		align-items: center;
		.region-header{
			display: flex;
			flex: 1;
		}
		.block-system-branding-block{
			display: flex;
			justify-content: center;
			align-items: center;
			.site-name{
				padding: 1rem;				
				a{
					text-decoration: none;
					color: #fff;
					font-size: 1.5rem;
					font-weight: 700;
				}
			}
			.site-logo{
				img{
					display: block;
					width: auto;
					max-height: 50px;
				}
			}
		}
		nav.navigation{
			ul.menu{
				display: flex;
				align-items: center;
				li{
					a{
						padding: .5rem;
						text-decoration: none;
						color: #fff;
						font-weight: 700;
						font-size: 14px;
						text-transform: uppercase;
						&.is-active{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

section.navbar{
	background-color: #666;
	border-top: 1px solid #ccc;
	nav.navigation.menu--main{
		ul.menu{
			margin: 0;
			display: flex;
			li{
				padding: 0;
				a{
					display: block;
					padding: 1rem;
					font-size: 14px;
					font-weight: 700;
					text-decoration: none;
					text-transform: uppercase;
					color: white;
				}
			}
		}
	}
}

.page-title{
	text-align: center;
}

.search-block-form{
	display: flex;
	input{
		padding: .6rem;
		margin-right: .5rem;
	}
}

.messages{
	color: white;
	border: 0;
	background-image: none;
	box-shadow: none;
    padding: 1.5rem;
    border-radius: 0;
	&.messages--status{
		background-color: #2e7d32;
	}
	&.messages--warning{
		background-color: #f9a825;
		color: black;
	}
	&.messages--error{
		background-color: #c62828;
	}
}

.marker{
	background: #c82f28;
    border-radius: 5px;
    padding: 6px;
    color: white;
    font-size: 13px;
}

.item-list{

	ul{
		li{
			padding: .25rem 0;
			list-style: square;
			a{
				padding: .5rem 0;
			}
		}
	}

	ol{
		li{
			padding: .25rem 0;
			list-style: decimal;
			a{
				padding: .5rem 0;
			}
		}
	}

}

/**
* Tabs
**/

nav.tabs{
	background-color: #fafafa;
	// padding: 1rem;
	border-radius: 5px;
	margin: 1rem 0;
	ul{
		li{
			a{
				@extend .button;

			}
		}
		&.primary{

		}
		&.secondary{
			li{
				a{
					padding: .5rem;
				}
			}
		}
	}
}

nav.pager{
	padding: 1rem 0;
	ul{
		li{
			&.is-active{
				a{
					background-color: #eee;
				}
			}
			a{
				@extend .button;
			}
		}
	}
}

/**
* Book
**/

nav.book-navigation{
	ul.menu{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			padding: 1rem 0;
			margin: 1rem 0;
			&.menu-item--collapsed{
				a{
					border-left-width: .5rem;
				}
			}
			a{
				@extend .button;
			}
		}
	}
	ul.book-pager{
		display: flex;
		li{
			margin: 2rem 0;

			a{
				@extend .button;
			}
		}
	}
}

/**
* Footer
**/

footer.footer{
	background-color: #fafafa;
	padding: 1rem 0;
	min-height: 10rem;
	display: flex;
	align-items: center;
	color: #eee;
	a{
		color: #fff;
	}
}

/**
* Forms
**/

form{
	.form-item{
		display: flex;
		flex-direction: column;
		label{
			margin: .5rem 0;
			font-size: 18px;
			color: #333;
			font-weight: 700;
		}
		.description{
			margin: .5rem 0;
			color: #666;
		}
	}

	input, textarea, select{
		padding: .5rem;
		border-radius: 5px;
		border: 2px solid #eee;
		font-size: 1rem;
		width: 50%;
	}
}

.form-textarea{
	&.resize-vertical{

	}
}

.form-date{

}

.form-select{

}

.form-checkbox{

}

.button{
	background-color: #fff;
	border: 2px solid #ddd;
	padding: .75rem;
	color: #212121;
	border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover{
    	background-color: #eee;
    	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.form-submit{
	@extend .button
}

// content

.node__content{
	padding: 1rem 0;
}

article.node--view-mode-teaser{
    background-color: white;
    padding: .25rem 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover{
    	box-shadow: 0 4px 4px 0 rgba(60,64,67,.08), 0 4px 12px 4px rgba(60,64,67,.16);
    	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    h2{
    	font-size: 1.5rem;
    	text-align: center;
    	margin: 1rem 0;
    }

    p{
    	font-size: 16px;
    }
}

article.comment{
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;

    h3{
    	margin: 1rem 0;
    	font-size: 1.25rem;
    }

    p{
    	padding: .5rem 0;
		font-size: 16px;
		line-height: 1.5;
    }

	.comment__submitted{
		@extend .node__submitted;
	}
}

article.profile{
	text-align: center;
	img{
		max-width: 3rem;
		max-height: 3rem;
		padding: 1rem;
		border-radius: 10rem;
	}
}


ul.links.inline{
	display: flex;
	
	li{
		display: flex;
		padding: 1rem;
		padding: 0 0.5em 0 0;
		a{
			@extend .button;
			font-size: 14px;
		}
		&.node-readmore{

		}
		&.comment-comments{

		}
		&.comment-add{
			a{
				background-color: #81C784;
				border-color: #4CAF50;
				&:hover{
					background-color: #4CAF50;
				}
			}
		}
		&.comment-delete{
			a{
				background-color: #FF8A65;
				border-color: #F44336;
				&:hover{
					background-color: #F44336;
				}
			}
		}
		&.comment-edit{
			a{
				background-color: #FFEB3B;
				border-color: #FFF176;
				&:hover{
					background-color: #FFF176;
				}
			}
		}
		&.comment-reply{

		}
	}
}

h2.title.comment-form__title{
	font-size: 2rem;
}

.comment-comment-form.comment-form{
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
}

// Article Content Type
.page-node-type-article{
	h1{
		text-align: center;
	}
}

.node__submitted{
    margin: 0;
    font-size: 13px;
    color: #666;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    text-align: center;
}

// Tags

.field.field--name-field-tags,
.field--name-taxonomy-forums{
	padding: 0 0 1rem 0;
	.field__label{
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	display: block;

	.field__items{
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.field__item{
			a{
				background-color: #eee;
				padding: .25rem .5rem;
				border-radius: 5px;
				margin-right: .25rem;
				font-size: 12px;
				font-weight: 700;
				color: #212121;
				letter-spacing: 0.5px;
			}
		}
	}
}

.field--name-field-image{
	margin: 1rem;
	img{
		margin: auto;
		border-radius: .5rem;
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.view-frontpage{
	.view-content{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		@include mq($l){
			grid-template-columns: 50% 50%;
		}
		@include mq($xxl){
			grid-template-columns: 25% 25% 25% 25%;
		}
		.views-row{
			margin: 1rem;
		}
	}
}

.views-list-teaser{
	.view-content{
		ul{
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: auto;
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
			@include mq($m) {
				grid-template-columns: 50% 50%;
			}
			@include mq($l) {
				grid-template-columns: 33% 33% 33%;
			}
			li{
				list-style: none;
				background-color: #fff;
				margin: 0;
				padding: 0;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
				border-radius: 3px;
				&:hover{
					box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
				}
				.views-field-field-image{
					border-bottom: 1px solid #ccc;
					padding: 0.5rem 0;
					img{
						display: block;
						max-width: 100%;
						height: auto;
					}
				}
				.views-field-title{
					padding: 1rem;
					h3{
						margin: 0;
						display: flex;
						a{
							font-size: 16px;
							padding: 0;
							color: #333;
						}
					}
				}
			}
		}

		div.views-row{
			.field--name-body{
				margin: 0;
			}
		}
	}
}

// Commerce
// .path-node{
// 	.field--name-field-image{
// 		padding: 1rem;
// 	}
// }

/**
* SEARCH RESULT
**/

.search-result__title{
	font-size: 1.25rem;
	margin: .5rem 0;
}

// HERO

.path-frontpage{
	.hero{
		border-top: 1px solid #ccc;
		height: 50vh;
		.container{
			display: flex;
			flex-direction: column;
			h1{
				font-size: 5rem;
				color: white;
			}
			p{
				font-size: 2rem;
				color: white;
			}
			a{
				background-color: white;
				padding: 1rem;
				font-weight: 700;
				border-radius: 5rem;
			}
		}

	}
}