/* line 1, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/color.scss */
a {
  color: #0071b3;
}

/* line 5, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/color.scss */
p {
  color: #3b3b3b;
}

/* line 9, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/color.scss */
header.header {
  background-color: #055a8e;
}

/* line 15, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/color.scss */
section.hero {
  background-color: #055a8e;
}

/* line 19, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/color.scss */
nav.breadcrumb {
  background-color: #eee;
}

/* line 23, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/color.scss */
footer.footer {
  background-color: #292929;
}

/*# sourceMappingURL=../stylesheets/color.map */