/* line 2, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--image .slick-wrapper {
  background-color: white;
  border-radius: .5rem;
  padding: 1rem 0;
}

/* line 8, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--image .slick-wrapper .slick--optionset--commerce-image .slick-current.slick-active img {
  border-radius: .5rem;
}

/* line 12, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--image .slick-wrapper .slick--optionset--commerce-thumbnail {
  padding: 1rem 0;
}

/* line 19, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--detail .field .field__label, .product--detail .field legend, .product--detail .field label, .product--detail .field--type-entity-reference .field__label, .product--detail .field--type-entity-reference legend, .product--detail .field--type-entity-reference label, .product--detail form.form-type-select .field__label, .product--detail form.form-type-select legend, .product--detail form.form-type-select label {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
  color: #666;
}

/* line 25, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--detail .field .field__item, .product--detail .field--type-entity-reference .field__item, .product--detail form.form-type-select .field__item {
  font-size: 1rem;
  font-weight: 400;
}

/* line 32, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--detail .field--type-commerce-price .field__item {
  font-size: 2rem;
}

/* line 37, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--detail .field--name-body {
  padding: 1rem 0;
  font-size: 1rem;
  color: #333;
}

/* line 42, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/commerce.scss */
.product--detail .field--name-body ul li {
  padding: .25rem 0;
  list-style: square;
}

/*# sourceMappingURL=../stylesheets/commerce.map */