/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito:400,700|Roboto:300,400,700");
/* line 5, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}

/* line 103, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Applications/Scout-App.app/Contents/Resources/app.nw/bower_components/compass-mixins/lib/compass/reset/_utilities.scss */
elements-of-type(html5-block) {
  display: block;
}

/* line 26, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
a {
  color: #212121;
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s;
}

/* line 30, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
a:hover {
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s;
}

/* line 36, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
p {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #5f6368;
  line-height: 1.5;
  padding-bottom: 1rem;
}

/* line 45, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
i {
  font-style: italic;
}

/* line 49, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
strong, b {
  font-weight: 700;
}

/* line 53, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table {
  margin: 1rem 0;
  width: 100%;
}

/* line 57, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table caption {
  margin: 1rem 0;
}

/* line 60, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table thead {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

/* line 64, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table thead tr th {
  padding: 1rem;
}

/* line 68, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table thead tr th a {
  font-weight: 700;
  font-size: 1.25rem;
}

/* line 78, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table tbody tr td {
  padding: 1rem;
  border-top: 2px solid #ddd;
  font-size: 1rem;
}

/* line 84, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
table tbody tr td a {
  padding: .5rem 0;
}

/* line 92, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
blockquote {
  font-size: 2rem;
}

/* line 100, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
mark {
  padding: .5rem;
  margin: 0;
  display: inline-block;
  border-radius: .5rem;
  background-color: #ffde03;
}

/* line 108, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h1 {
  font-size: 2rem;
}

@media all and (min-width: 1025px) {
  /* line 108, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  h1 {
    font-size: 3rem;
  }
}

/* line 115, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h2 {
  font-size: 2.5rem;
}

/* line 119, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h3 {
  font-size: 2rem;
}

/* line 123, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h4 {
  font-size: 1.75rem;
}

/* line 127, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h5 {
  font-size: 1.5rem;
}

/* line 131, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h6 {
  font-size: 1rem;
}

/* line 135, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0;
  font-weight: 700;
}

/* line 140, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
em {
  font-style: italic;
}

/* line 144, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
small {
  font-size: small;
}

/**
* Layout
**/
/* line 152, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.layout-container {
  -webkit-font-smoothing: antialiased;
}

/* line 156, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.container {
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 420px) {
  /* line 156, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .container {
    width: 380px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 156, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 156, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .container {
    width: 1100px;
  }
}

@media only screen and (min-width: 1280px) {
  /* line 156, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .container {
    width: 1220px;
  }
}

/* line 171, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.container.layout-content {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: .25rem;
}

/**
* Drupal base
**/
/* line 182, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.breadcrumb {
  padding: 1rem;
  font-size: 13px;
}

/* line 192, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body {
  background-color: #eee;
}

/* line 196, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body.font-size-14 {
  font-size: 14px;
}

/* line 199, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body.font-size-16 {
  font-size: 16px;
}

/* line 202, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body.font-size-18 {
  font-size: 18px;
}

/* line 205, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}

/* line 208, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body.font-family-nunito {
  font-family: 'Nunito', sans-serif;
}

/* line 211, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
body.font-family-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* line 216, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header {
  display: flex;
  align-items: center;
  height: 75px;
  font-size: 14px;
}

/* line 222, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container {
  display: flex;
  align-items: center;
}

/* line 225, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container .region-header {
  display: flex;
  flex: 1;
}

/* line 229, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container .block-system-branding-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 233, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container .block-system-branding-block .site-name {
  padding: 1rem;
}

/* line 235, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container .block-system-branding-block .site-name a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

/* line 243, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container .block-system-branding-block .site-logo img {
  display: block;
  width: auto;
  max-height: 50px;
}

/* line 251, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container nav.navigation ul.menu {
  display: flex;
  align-items: center;
}

/* line 255, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container nav.navigation ul.menu li a {
  padding: .5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 262, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
header.header .container nav.navigation ul.menu li a.is-active {
  text-decoration: underline;
}

/* line 272, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
section.navbar {
  background-color: #666;
  border-top: 1px solid #ccc;
}

/* line 276, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
section.navbar nav.navigation.menu--main ul.menu {
  margin: 0;
  display: flex;
}

/* line 279, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
section.navbar nav.navigation.menu--main ul.menu li {
  padding: 0;
}

/* line 281, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
section.navbar nav.navigation.menu--main ul.menu li a {
  display: block;
  padding: 1rem;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/* line 295, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.page-title {
  text-align: center;
}

/* line 299, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.search-block-form {
  display: flex;
}

/* line 301, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.search-block-form input {
  padding: .6rem;
  margin-right: .5rem;
}

/* line 307, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.messages {
  color: white;
  border: 0;
  background-image: none;
  box-shadow: none;
  padding: 1.5rem;
  border-radius: 0;
}

/* line 314, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.messages.messages--status {
  background-color: #2e7d32;
}

/* line 317, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.messages.messages--warning {
  background-color: #f9a825;
  color: black;
}

/* line 321, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.messages.messages--error {
  background-color: #c62828;
}

/* line 326, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.marker {
  background: #c82f28;
  border-radius: 5px;
  padding: 6px;
  color: white;
  font-size: 13px;
}

/* line 337, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.item-list ul li {
  padding: .25rem 0;
  list-style: square;
}

/* line 340, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.item-list ul li a {
  padding: .5rem 0;
}

/* line 347, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.item-list ol li {
  padding: .25rem 0;
  list-style: decimal;
}

/* line 350, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.item-list ol li a {
  padding: .5rem 0;
}

/**
* Tabs
**/
/* line 362, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.tabs {
  background-color: #fafafa;
  border-radius: 5px;
  margin: 1rem 0;
}

/* line 379, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.tabs ul.secondary li a {
  padding: .5rem;
}

/* line 387, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.pager {
  padding: 1rem 0;
}

/* line 392, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.pager ul li.is-active a {
  background-color: #eee;
}

/**
* Book
**/
/* line 408, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.book-navigation ul.menu {
  padding: 0;
  margin: 0;
}

/* line 411, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.book-navigation ul.menu li {
  list-style: none;
  padding: 1rem 0;
  margin: 1rem 0;
}

/* line 416, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.book-navigation ul.menu li.menu-item--collapsed a {
  border-left-width: .5rem;
}

/* line 425, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.book-navigation ul.book-pager {
  display: flex;
}

/* line 427, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
nav.book-navigation ul.book-pager li {
  margin: 2rem 0;
}

/**
* Footer
**/
/* line 441, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
footer.footer {
  background-color: #fafafa;
  padding: 1rem 0;
  min-height: 10rem;
  display: flex;
  align-items: center;
  color: #eee;
}

/* line 448, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
footer.footer a {
  color: #fff;
}

/**
* Forms
**/
/* line 458, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
form .form-item {
  display: flex;
  flex-direction: column;
}

/* line 461, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
form .form-item label {
  margin: .5rem 0;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}

/* line 467, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
form .form-item .description {
  margin: .5rem 0;
  color: #666;
}

/* line 473, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
form input, form textarea, form select {
  padding: .5rem;
  border-radius: 5px;
  border: 2px solid #eee;
  font-size: 1rem;
  width: 50%;
}

/* line 500, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.button, nav.tabs ul li a, nav.pager ul li a, nav.book-navigation ul.menu li a, nav.book-navigation ul.book-pager li a, .form-submit, ul.links.inline li a {
  background-color: #fff;
  border: 2px solid #ddd;
  padding: .75rem;
  color: #212121;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* line 510, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.button:hover, nav.tabs ul li a:hover, nav.pager ul li a:hover, nav.book-navigation ul.menu li a:hover, nav.book-navigation ul.book-pager li a:hover, .form-submit:hover, ul.links.inline li a:hover {
  background-color: #eee;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* line 522, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.node__content {
  padding: 1rem 0;
}

/* line 526, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.node--view-mode-teaser {
  background-color: white;
  padding: .25rem 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* line 533, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.node--view-mode-teaser:hover {
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.08), 0 4px 12px 4px rgba(60, 64, 67, 0.16);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* line 537, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.node--view-mode-teaser h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

/* line 543, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.node--view-mode-teaser p {
  font-size: 16px;
}

/* line 548, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.comment {
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

/* line 554, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.comment h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
}

/* line 559, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.comment p {
  padding: .5rem 0;
  font-size: 16px;
  line-height: 1.5;
}

/* line 570, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.profile {
  text-align: center;
}

/* line 572, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
article.profile img {
  max-width: 3rem;
  max-height: 3rem;
  padding: 1rem;
  border-radius: 10rem;
}

/* line 581, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline {
  display: flex;
}

/* line 584, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li {
  display: flex;
  padding: 1rem;
  padding: 0 0.5em 0 0;
}

/* line 588, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li a {
  font-size: 14px;
}

/* line 599, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li.comment-add a {
  background-color: #81C784;
  border-color: #4CAF50;
}

/* line 602, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li.comment-add a:hover {
  background-color: #4CAF50;
}

/* line 608, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li.comment-delete a {
  background-color: #FF8A65;
  border-color: #F44336;
}

/* line 611, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li.comment-delete a:hover {
  background-color: #F44336;
}

/* line 617, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li.comment-edit a {
  background-color: #FFEB3B;
  border-color: #FFF176;
}

/* line 620, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
ul.links.inline li.comment-edit a:hover {
  background-color: #FFF176;
}

/* line 631, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
h2.title.comment-form__title {
  font-size: 2rem;
}

/* line 635, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.comment-comment-form.comment-form {
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

/* line 643, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.page-node-type-article h1 {
  text-align: center;
}

/* line 648, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.node__submitted, article.comment .comment__submitted {
  margin: 0;
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  text-align: center;
}

/* line 659, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.field.field--name-field-tags,
.field--name-taxonomy-forums {
  padding: 0 0 1rem 0;
  display: block;
}

/* line 662, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.field.field--name-field-tags .field__label,
.field--name-taxonomy-forums .field__label {
  font-size: 1.5rem;
  margin: 1rem 0;
}

/* line 669, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.field.field--name-field-tags .field__items,
.field--name-taxonomy-forums .field__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* line 675, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.field.field--name-field-tags .field__items .field__item a,
.field--name-taxonomy-forums .field__items .field__item a {
  background-color: #eee;
  padding: .25rem .5rem;
  border-radius: 5px;
  margin-right: .25rem;
  font-size: 12px;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.5px;
}

/* line 689, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.field--name-field-image {
  margin: 1rem;
}

/* line 691, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.field--name-field-image img {
  margin: auto;
  border-radius: .5rem;
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 701, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.view-frontpage .view-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media only screen and (min-width: 1024px) {
  /* line 701, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .view-frontpage .view-content {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 701, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .view-frontpage .view-content {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

/* line 711, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.view-frontpage .view-content .views-row {
  margin: 1rem;
}

/* line 719, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media only screen and (min-width: 768px) {
  /* line 719, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .views-list-teaser .view-content ul {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 719, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
  .views-list-teaser .view-content ul {
    grid-template-columns: 33% 33% 33%;
  }
}

/* line 731, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li {
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

/* line 738, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

/* line 741, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-field-image {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

/* line 744, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-field-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 750, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-title {
  padding: 1rem;
}

/* line 752, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-title h3 {
  margin: 0;
  display: flex;
}

/* line 755, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content ul li .views-field-title h3 a {
  font-size: 16px;
  padding: 0;
  color: #333;
}

/* line 766, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.views-list-teaser .view-content div.views-row .field--name-body {
  margin: 0;
}

/**
* SEARCH RESULT
**/
/* line 784, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.search-result__title {
  font-size: 1.25rem;
  margin: .5rem 0;
}

/* line 792, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.path-frontpage .hero {
  border-top: 1px solid #ccc;
  height: 50vh;
}

/* line 795, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.path-frontpage .hero .container {
  display: flex;
  flex-direction: column;
}

/* line 798, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.path-frontpage .hero .container h1 {
  font-size: 5rem;
  color: white;
}

/* line 802, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.path-frontpage .hero .container p {
  font-size: 2rem;
  color: white;
}

/* line 806, /Applications/mampstack-7.1.17-0/apache2/htdocs/drupalchile/web/themes/camaleon/sass/screen.scss */
.path-frontpage .hero .container a {
  background-color: white;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5rem;
}

/*# sourceMappingURL=../stylesheets/screen.map */