{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  <div class="container product">

    <div class="row">

      <div class="col-xs-12 col-md-6 product--image">
        {{ product.field_image }}
      </div>

      <div class="col-xs-12 col-md-6 product--detail">
        {{ product.field_category }}
        {{ product.body }}
        {{ product.variation_price }}
        {{ product.variations }}
      </div>

    </div>

  </div>

</article>
